@media only screen and (max-width: 575px){
  h4,h5{
    font-size: 18px !important;
  }
  .nav-tabs .nav-item .nav-link {
    display: block;
    padding: .5rem 0.5rem;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    
}
	.banner-section {
    background: url(../images/Bitmap.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 85px;
    }
	.main-section {
    padding: 30px 20px;
    }
    .main-section .card-top {
    position: relative;
    bottom: 0;
   }
   .main-section .card-bottom {
    position: relative;
    bottom: 0;
   }
   .main-section .pl-0{
   	padding-left: 15px !important;
   	}
   	.main-section .pr-0{
   		padding-right: 15px !important;
   	}
    .rpt-30{
      padding-top: 25px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
	.banner-section {
    background: url(../images/Bitmap.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 170px;
    }
    .main-section {
    padding: 30px 20px;
    }
    .main-section .card-top {
    position: relative;
    bottom: 0;
   }
   .main-section .card-bottom {
    position: relative;
    bottom: 0;
   }
   .main-section .pl-0{
   	padding-left: 15px !important;
   	}
   	.main-section .pr-0{
   		padding-right: 15px !important;
   	}
    .rpt-30{
      padding-top: 30px;
    }

}
@media (min-width: 768px) and (max-width: 992px){
	.banner-section {
    background: url(../images/Bitmap.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 190px;
    }
	.main-section {
    padding: 30px 10px;
}
.card-top .card-body{
  padding: 5px;
}
h5{
    font-size: 18px !important;
  }

}
